#svg-container {
  width:603px;
  height:845px; 
}

.unselectable-text-group {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unselectable-text-group text::selection {
  background: none;
}


.draggable-label text::selection {
  background: none;
}

div #png-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.normal-cursor{
  cursor: auto;
}

.draggable-cursor{
  cursor: url('../images/arrows-alt.png'), auto;
}

.pencil-cursor{
  cursor: url('../images/circle.png'), auto;
}

.eraser-cursor{
  cursor: url('../images/circle.png'), auto;
}

.number-input{
  height: 30px;
}

.color-input{
  margin: 0px 0px;
  padding: 3px 3px;
  border: 1px solid #A9A9A9;
  width: 44px;
  height: 23px;
}